@font-face {
  font-family: 'RedHatText'; 
  src: url('../assets/fonts/static/RedHatText-Regular.ttf') format('truetype');
  font-weight: 400; /* (optional) Вага шрифту: normal, bold */
  font-style: normal;  /* (optional) Стиль шрифту: normal, italic */
}
@font-face {
  font-family: 'RedHatText'; 
  src: url('../assets/fonts/static/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: 600; /* (optional) Вага шрифту: normal, bold */
  font-style: normal;  /* (optional) Стиль шрифту: normal, italic */
}
@font-face {
  font-family: 'RedHatText'; 
  src: url('../assets/fonts/static/RedHatText-Bold.ttf') format('truetype');
  font-weight: 700; /* (optional) Вага шрифту: normal, bold */
  font-style: normal;  /* (optional) Стиль шрифту: normal, italic */
}
:root{
  --Rose900: hsl(14, 65%, 9%);
}
body {
  margin: 0;
  font-family: 'RedHatText', sans-serif;
  color: var(--Rose900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
}